.about .container {
  padding-top: 80px;
  padding-bottom: 70px;
}

.about-title {
  margin-bottom: 16px;
  font-size: 48px;
  font-weight: 400;
  color: #333333;
 }

 .about-description {
  max-width: 1080px;
 line-height: 32px;
  font-size: 16px;
  font-weight: 400;
 }
