.catalog .container {
  padding-top: 80px;
  padding-bottom: 77px;
}

.catalog__title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 16px;
}

.catalog__descr {
  max-width: 1080px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 38.5px;
  line-height: 32px;
}

.catalog__peoples {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.catalog__people {
  display: flex;
  gap: 50px;
  align-items: center;
}

.people__info__name {
  line-height: 32.68px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 7px;
}

.people__info__date {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: var(--light_gray);
  margin-bottom: 15px;
  line-height: 16.34px;
}

.people__info__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
