.events .container {
  padding-bottom: 79px;
}

.events__title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 16px;
}

.events__list {
  /* display: flex;
  gap: 50px; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
}
.event {
  display: flex;
  flex-direction: column;
}

.event__image {
  display: block;
  width: 100%;
}

.event__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 10px;
  min-height: 400px;
  padding: 13px 49px 48px 49px;
  border-bottom: 1px solid var(--silver_color);
  border-left: 1px solid var(--silver_color);
  border-right: 1px solid var(--silver_color);
}

/* .event__date {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  color: var(--light_gray);
  max-width: 145px;
  margin-bottom: 11px;
} */
.event__subname {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.event__location,
.event__date {
  font-size: 12px;
  font-weight: 600;
  line-height: 16.34px;
  color: var(--light_gray);
}

.event__name {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  margin-bottom: 10px;
}

.event:first-child .event__name {
  max-width: 290px;
}


.event__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.event__btn {
  position: relative;
  display: block;
  width: fit-content;
  color: var(--amethyst_color);
  border: none;
  font-size: 16px;
  background: transparent;
  line-height: 17px;
  cursor: pointer;
}

.event__btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  background: var(--amethyst_color);
}

.event__btn:focus-visible {
  background-color: var(--amethyst_color);
  color: var(--white);
  padding: 5px 5px 12px 5px;
}

.event__btn:focus-visible::before {
  display: block;
  bottom: 8px;
  background: var(--white);
  width: calc(100% - 10px);
  margin: 0 auto;
  right: 0;
  left: 0;
}

.event__btn:hover {
  color: var(--purple);
}

.event__btn:hover::before {
  background: var(--purple);
}

.event__btn:active {
  color: var(--dune);
}

.event__btn:active::before {
  background: var(--dune);
}
