.footer {
  background: var(--black);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 48px;
}

.footer__social {
  display: flex;
  gap: 20px;
}

.footer__social__svg {
  cursor: pointer;
}

.footer__social__svg:hover:not(:focus-visible) path,
.footer__social__svg:focus-visible path{
  fill: var(--white);
}

.footer__social__svg:active path{
  fill: var(--amethyst_color);
}
