.footer {
  background: var(--black);
}
.footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 48px;
}

.footer__social {
  display: flex;
  gap: 20px;
}

.footer__social--svg {
  cursor: pointer;
}

.footer__social--svg:hover path,
.footer__social--svg:focus-visible path{
  fill: var(--white);
}

.footer__social--svg:active path{
  fill: var(--amethyst_color);
}
