.gallery {
  background-image: url(../img/gallery.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.gallery .container {
  padding-top: 80px;
}

.gallery-title {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 400;
  color: var(--white);
}

.gallery-block {
  display: flex;
}

.pucture {
}

.checked {
  display: flex;
  align-self: end;
  flex-direction: column;
}

label {
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
}
