.gallery {
  background-image: url(../img/gallery.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.gallery__container {
  padding-top: 80px;
  padding-bottom: 75.5px;
}

.gallery__title {
  margin-bottom: 19.5px;
  font-size: 48px;
  font-weight: 400;
  color: var(--white);
}

.gallery__block {
  display: flex;
  justify-content: space-between;
  gap: 7px;
}

.gallery__puctures {
  display: flex;
  flex-wrap: wrap;
  gap: 49px;
}

.gallery__checked {
  display: flex;
  align-self: end;
  flex-direction: column;
}

.gallery__check {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  line-height: 32px;
  gap: 7px;
}

.gallery__check:hover:not(:focus-visible) .gallery__check__box {
  border: 1px solid var(--light_purple);
}

.gallery__check:focus-visible .gallery__check__box {
  border: 1px solid var(--light_purple);
}

.gallery__check:focus-visible {
  color: var(--light_purple);
}

.gallery__check:active .gallery__check__box::before,
.gallery__input:checked + .gallery__check__box::before {
  opacity: 1;
}

.gallery__input:checked + .gallery__check__box {
  border: 1px solid var(--light_purple);
}

.gallery__input {
  display: none;
  pointer-events: none;
}

.gallery__check__box {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
}

.gallery__check__box::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--light_purple);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  opacity: 0;
}
