.gallery {
  background-image: url(../img/gallery.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.gallery .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery-title {
  margin-bottom: 19.5px;
  font-size: 48px;
  font-weight: 400;
  color: var(--white);
}

.gallery-block {
  display: flex;
  justify-content: space-between;
}

.gallery-puctures {
  display: flex;
  gap: 50px;
}

.gallery-checked {
  display: flex;
  align-self: end;
  flex-direction: column;
}

.gallery-check {
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  line-height: 32px;
}

.gallery-input {
  margin-right: 7px;
}
