.header {
  background: var(--black);
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30.1px;
}

.header__logo {
  margin-right: calc(100px + (179 - 100) * ((100vw - 1440px) / (1920 - 1440)));
}

.header__menu {
  margin-right: auto;
}

.header__menu--list {
  display: flex;
  gap: calc(35px + (96 - 35) * ((100vw - 1440px) / (1920 - 1440)));
}

.header__menu--link {
  white-space: nowrap;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.header__menu--link:focus-visible {
  background-color: var(--purple);
}

.header__menu--link:hover {
  color: var(--light_purple);
}

.header__menu--link:active {
  color: var(--purple);
}

.header--search:focus-visible {
  background-color: var(--purple);
  padding: 3px;
  box-sizing: content-box;
}

.header--btn {
  background: transparent;
  border: none;
}
.header--search {
  cursor: pointer;
}

.header--search:hover rect,
.header--search:hover path {
  fill: var(--light_purple);
}

.header--search:active rect,
.header--search:active path {
  fill: var(--amethyst_color);
}
