.header {
  background: var(--black);
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30.1px;
}

.header-left {
  display: flex;
  gap: 179px;
  align-items: center;
}

.header-menu__list {
  display: flex;
  gap: 96px;
}

.header-menu__link {
  white-space: nowrap;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.header-bottom {
  display: none;
}
