.hero {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.hero__container {
  padding-top: 146px;
  padding-bottom: 146px;
}

.hero__title {
  max-width: 580px;
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 68px;
  font-weight: 700;
  color: var(--white);
}

.hero__subtitle {
  max-width: 580px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 92px;
}

.hero__btn {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.5px;
  padding: 22.5px 35px;
  border-radius: 100px;
  background-color: var(--amethyst_color);
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: background-color .3s ease;
}

.hero__btn::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  outline: 2px solid#C283F3;
  border-radius: 100px;
  opacity: 0;
}

.hero__btn:hover:not(:focus-visible) {
  outline: 2px solid#C283F3;
}

.hero__btn:focus-visible::before {
  opacity: 1;
}

.hero__btn:active {
  background-color: var(--purple);
  outline: 3px solid var(--pale_violet);
}

