* {
  font-family: "OpenSans", sans-serif;
  /* outline: 1px solid red; */
}

/* *:focus,
*:focus-visible {
  outline: 10px red solid !important;
} */

.container {
  margin: 0 auto;
  max-width: 1700px;
  padding: 0 50px;
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}
