@media (max-width: 1024px) {
.container {
  padding: 0 50px;
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.header-logo {

}

.hero-subtitle {
  max-width: 660px;
  margin-bottom: 133px;
}

.header-menu__list {
  gap: 90px;
}

.hero {
  background-image: url(../img/hero_1024.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.hero .container {
  padding-top: 101px;
  padding-bottom: 100px;
}

.gallery {
  background-image: url(../img/gallery_tablet.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.gallery .container {
  padding-bottom: 76px;
}

.gallery-block {
  display: block;
}

.gallery-checked {
margin-bottom: 27px;
}

.catalog__artist {
  flex-direction: column;
}

.events__list {
  gap: 27px;
}

.events__item--info {
  padding: 14px 34px 49px 34px;
}
}
