.showroom {
  border-top: 1px solid var(--silver_color);
  padding-top: 34px;
  padding-bottom: 37px;
}

.showroom__container {
  display: flex;
  /* justify-content: space-between; */
  gap: 80px;
  align-items: center;
}

.showroom__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 6px;
}

.showroom__address {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.showroom__center {
  display: flex;
  gap: 20px;
  align-items: center;
}

.showroom__center__label {
  position: relative;
}

.showroom__center__label::before {
  content: "Неверный формат";
  position: absolute;
  display: block;
  top: -20px;
  left: 15px;
  opacity: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--red);
}

.showroom__center__label:has(
    .showroom__center__input:invalid:placeholder-shown
  )::before {
  opacity: 0;
}

.showroom__center__label:has(.showroom__center__input:invalid)::before {
  opacity: 1;
}

.showroom__center__label input:hover:not(:focus-visible),
.showroom__center__label input:focus-visible {
  background: var(--dark_white);
}

.showroom__center__input {
  position: relative;
  min-width: 270px;
  padding: 9px 24px;
  border: 1px solid var(--silver_color);
  border-radius: 90px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  cursor: text;
}

.showroom__center__input:invalid {
  border: 1px solid red;
}

.showroom__center__input:not(:focus):invalid:placeholder-shown,
.showroom__center__input:not(:focus-visible):invalid:placeholder-shown {
  border: 1px solid var(--silver_color);
}

.showroom__center__input:focus:invalid:placeholder-shown,
.showroom__center__input:focus-visible:invalid:placeholder-shown {
  border: 1px solid var(--silver_color);
}

.showroom__btn {
  position: relative;
  background: transparent;
  color: var(--amethyst_color);
  font-size: 18px;
  font-weight: 700;
  border-radius: 100px;
  padding: 12px 36px;
  outline: 2px solid var(--amethyst_color);
  border: none;
  height: fit-content;
  cursor: pointer;
}

.showroom__btn::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  outline: 2px solid#C283F3;
  border-radius: 100px;
  opacity: 0;
}

.showroom__btn:hover:not(:focus-visible) {
  background: var(--amethyst_color);
  color: var(--white);
}

.showroom__btn:focus-visible::before {
  opacity: 1;
}

.showroom__btn:active {
  background: var(--purple);
  outline: 3px solid var(--pale_violet);
  color: var(--white);
}

.showroom__connect {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.showroom__social {
  display: flex;
  gap: 20px;
}

.showroom__social__img {
  cursor: pointer;
}

.showroom__social__img:hover:not(:focus-visible),
.showroom__social__img:focus-visible {
  opacity: 0.5;
}

.showroom__social__img:active {
  outline: 1px solid var(--amethyst_color);
  border-radius: 100px;
  opacity: 1;
}
