.showroom {
  border-top: 1px solid var(--silver_color);
}

.showroom .container {
  padding-top: 34px;
  padding-bottom: 39px;
  display: flex;
  /* justify-content: space-between; */
  gap: 80px;
  align-items: center;
}


.showroom-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 6px;
}

.showroom-address {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.showroom__center {
  display: flex;
  gap: 20px;
  align-items: center;
}

.input {
  min-width: 270px;
  padding: 9px 24px;
  border: 1px solid var(--silver_color);
  border-radius: 90px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.showroom__btn {
  position: relative;
  background: transparent;
  color: var(--amethyst_color);
  font-size: 18px;
  font-weight: 700;
  border-radius: 100px;
  padding: 12px 36px;
  outline: 2px solid var(--amethyst_color);
  border: none;
  height: fit-content;
  cursor: pointer;
}

.showroom__btn::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  outline: 2px solid#C283F3;
  border-radius: 100px;
  opacity: 0;
}

.showroom__btn:hover {
  background: var(--amethyst_color);
  color: var(--white);
}

.showroom__btn:focus-visible::before {
  opacity: 1;
}

.showroom__btn:active {
  background: var(--purple);
  outline: 3px solid var(--pale_violet);
  color: var(--white);
}

.showroom__btn.mobile {
  display: none;
}

.showroom__connect {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.showroom__social {
  display: flex;
  gap: 20px;
}

.showroom__social--img {
  cursor: pointer;
}

.showroom__social--img:hover {
  box-shadow: offset-x offset-y blur spread color position;
  box-shadow: 100px 100px 100px 100px rgba(48, 191, 57, 0.2) inset;
}

.showroom__social--img:active {
  outline: 1px solid var(--amethyst_color);
  border-radius: 100px;
}
