:root {
    --black: #000000;
    --dune: #333333;
    --dull_gray: #666666;
    --light_gray: #999999;
    --pale_violet: #D1A9F0;
    --light_purple: #C283F3;
    --amethyst_color: #9D5CD0;
    --purple: #7943A4;
    --light_green: #30BF39;
    --light_blue: #26A5E4;
    --red: #D11616;
    --silver_color: #CACACA;
    --dark_white: #ECECEC;
    --white: #FFFFFF;
}