@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  /* .header-left {
  display: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
} */

  .header .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 23px;
    padding-bottom: 29px;
  }

  .header-left .header-menu {
    display: none;
  }

  .header-logo {
    width: 187.6px;
  }

  .header-bottom {
    display: block;
    grid-column-start: span 2;
    /* grid-column-end: 2; */
  }

  .header-search {
    margin-left: auto;
  }

  .header-menu__list {
    justify-content: space-between;
    gap: 10px;
  }

  .hero {
    background-image: url(../../img/hero_1024.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }

  .hero .container {
    padding-top: 99px;
    padding-bottom: 101px;
  }

  .hero-subtitle {
    max-width: 660px;
    margin-bottom: 133px;
  }

  .about .container {
    padding-bottom: 71px;
  }

  .gallery {
    background-image: url(../../img/gallery_tablet.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .gallery .container {
    padding-bottom: 75px;
  }

  .gallery-block {
    display: block;
  }

  .gallery-checked {
    margin-bottom: 27px;
  }

  .catalog .container {
    padding-top: 79px;
  }
  .catalog__artist {
    flex-direction: column;
    gap: 28px;
  }

  .event__content {
    max-width: 222px;
  }

  .events__list {
    gap: 27px;
  }

  .events__item--info {
    padding: 14px 34px 49px 34px;
  }

  .event__name {
    margin-bottom: 6px;
  }

  .event__subname {
    align-items: end;
    margin-bottom: 3px;
  }

  .showroom .container {
    display: block;
  }

  .showroom__left {
    margin-bottom: 30px;
  }

  .showroom__center {
    margin-bottom: 30px;
  }

  .footer-social_svg {
    width: 60px;
    height: 60px;
  }
}
