@media (max-width: 1440px) {
  .container {
    padding: 0 50px;
  }

  .header {
    padding-top: 32px;
    padding-bottom: 25px;
  }

  .header__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 23px;
  }

  .header__logo {
    width: 187.6px;
    margin-right: 0;
  }

  .header__menu {
    order: 3;
    display: block;
    width: 100%;
    grid-column-start: span 2;
    /* grid-column-end: 2; */
  }
  .header__btn {
    text-align: right;
  }
  .header__search {
    margin-left: auto;
  }

  .header__menu__list {
    justify-content: space-between;
    gap: 24px;
  }



  .hero {
    background-image: url(../../img/hero_1024.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 102px;
  }

  .hero__subtitle {
    max-width: 660px;
    margin-bottom: 133px;
  }

  .about {
    padding-bottom: 71px;
  }

  .gallery {
    background-image: url(../../img/gallery_tablet.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 75px;
  }

  .gallery__block {
    display: block;
  }

  .gallery__checked {
    margin-bottom: 27px;
  }




  .catalog {
    padding-top: 79px;
    padding-bottom: 82px;
  }

  .catalog__peoples {
    gap: 50px;
  }

  .catalog__people {
    flex-direction: column;
    gap: 27px;
  }

  .people__picture {
    width: 100%;
  }
  .people__picture img {
    width: 100%;
  }

  .catalog__descr {
    margin-bottom: 40px;
  }


  .events {
    padding-bottom: 86px;
  }

  .event__content {
    max-width: 222px;
  }

  .events__list {
    gap: 27px;
  }

  .event__info {
    padding: 14px 34px 49px 34px;
    min-height: 477px;
  }

  .event__name {
    margin-bottom: 6px;
  }


  .event__subname {
    align-items: end;
    margin-bottom: 3px;
  }

  .projects__descr {
    margin-bottom: 21px;
  }



  .showroom {
    display: block;
    padding-top: 42px;
    padding-bottom: 41px;
  }

  .showroom__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }


  .showroom__title {
    margin-bottom: 10px;
  }

  .showroom__address {
    font-size: 14px;
  }

  .showroom__btn {
    padding: 11px 42px;
  }


  .footer {
    padding-top: 40px;
    padding-bottom: 41px;
  }

  .footer__social__svg {
    width: 60px;
    height: 60px;
  }
}
