@media (max-width: 1700px) {
  .container {
    padding: 0 50px;
  }

  .header .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 23px;
    padding-bottom: 29px;
  }

  .header__left .header__menu {
    display: none;
  }

  .header__logo {
    width: 187.6px;
  }

  .header__bottom {
    display: block;
    grid-column-start: span 2;
    /* grid-column-end: 2; */
  }

  .header--search {
    margin-left: auto;
  }

  .header__menu--list {
    justify-content: space-between;
    gap: 10px;
  }

  .showroom .container {
    display: block;
    padding-top: 42px;
    padding-bottom: 41px;
  }

  .showroom__left {
    margin-bottom: 30px;
  }

  .showroom__title {
    margin-bottom: 10px;
  }

  .showroom__address {
    font-size: 14px;
  }

  .showroom__center {
    margin-bottom: 27px;
  }

  .showroom__btn {
    padding: 11px 42px;
  }
}
