@media (max-width: 320px) {

  .header .container {
    padding-top: 13px;
    row-gap: 6px;
    padding-bottom: 9px;
  }

  .header--logo {
    width: 96.8px;
  }

  .header--search {
    width: 18px;
  }

  .header--menu__list {
    gap: 25px;
    margin-right: -15px;
  }

  .header--menu__link {
    font-size: 12px;
    font-weight: 700;
  }

  .hero {
    background-image: url(../../img/hero_320.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }

  .hero .container {
    padding-top: 50px;
    padding-bottom: 49.5px;
  }

  .hero--title {
    line-height: 28px;
    padding-bottom: 11px;
  }

  .hero--subtitle {
    max-width: 283px;
    line-height: 16.34px;
    margin: 0 auto 38px auto;
  }

  .hero--btn {
    display: block;
    font-size: 12px;
    padding: 8px 19px;
    margin: 0 auto;
  }

  .about .container {
    padding-top: 50px;
    padding-bottom: 41px;
  }

  .about--title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .about--description {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    background-image: url(../../img/gallery_320.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .gallery .container {
    padding-top: 50px;
    padding-bottom: 46px;
  }

  .gallery--title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .gallery__puctures  {
    flex-wrap: wrap;
    gap: 24px;
  }

  .gallery__picture {
    width: 290px;
  }


  .catalog .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .catalog__title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .catalog__descr {
    margin-bottom: 30px;
  }

  .catalog__artists {
    gap: 29.5px;
  }

  .catalog__artist {
    gap: 16px;
  }

  .catalog__picture img {
    width: 290px;
    height: 181px;
    object-fit: cover;
  }

  .artist__name {
     max-width: 285px;
  }

  .artist__date {
    margin-bottom: 13px;
  }

  .events--title {
    font-size: 28px;
    margin-bottom: 11px;
  }

}
