@media (max-width: 320px) {


  .header__logo {
    width: 96.8px;
  }

  .header__search {
    width: 18px;
  }

  .header__menu__list {
    gap: 25px;
    margin-right: -15px;
  }

  .header__menu__link {
    font-size: 12px;
    font-weight: 700;
  }

  .hero {
    background-image: url(../../img/hero_320.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }

  .hero .container {
    padding-top: 50px;
    padding-bottom: 49.5px;
  }

  .hero__title {
    line-height: 28px;
  }

  .hero__subtitle {
    max-width: 283px;
    line-height: 16.34px;
    margin: 0 auto 38px auto;
  }

  .hero__btn {
    display: block;
    font-size: 12px;
    padding: 8px 19px;
    margin: 0 auto;
  }

  .about .container {
    padding-top: 50px;
    padding-bottom: 41px;
  }

  .about__title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .about__description {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    background-image: url(../../img/gallery_320.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .gallery .container {
    padding-top: 50px;
    padding-bottom: 46px;
  }

  .gallery__title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .gallery__puctures  {
    flex-wrap: wrap;
    gap: 24px;
  }

  .gallery__picture {
    width: 290px;
  }


  .catalog .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .catalog__title {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .catalog__descr {
    margin-bottom: 30px;
  }

  .catalog__peoples {
    gap: 29.5px;
  }

  .catalog__people {
    gap: 16px;
  }

  .people__picture img {
    width: 290px;
    height: 181px;
    object-fit: cover;
  }

  .people__info__name {
     max-width: 285px;
  }

  .people__info__date {
    margin-bottom: 13px;
  }

  .events__title {
    font-size: 28px;
    margin-bottom: 11px;
  }

}
