@media (max-width: 767px) {

  .container {
    padding: 0 15px;
  }

  .header__container {
    padding-top: 11px;
    padding-bottom: 9px;
    row-gap: 3px;
  }

  .header__menu--list {
    overflow-x: scroll;
  }

  .hero__title {
    font-size: 32px;
    text-align: center;
  }

  .hero__subtitle {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }

  .projects__images {
    flex-wrap: wrap;
  }
  .projects__images--image {
    max-width: 100%;
  }
  .showroom__center--label .showroom__center--input {
    min-width: auto;
    max-width: 100%;
  }
}
