@media (max-width: 768px) {
  .header-menu__list {
    justify-content: start;
    gap: 44px;
  }

  .hero {
    background-image: url(../../img/hero_768.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }


  .hero .container {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .hero-subtitle {
    max-width: 555px;
  }

  .gallery_picture {
    width: 200px;
  }

  .gallery_picture img {
    width: 100%;
  }

  .gallery {
    background-image: url(../../img/gallery_768.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }


  .gallery-title {
    margin-bottom: 15px;
  }

  .gallery-checked {
    margin-bottom: 31px;
  }
  .gallery__puctures {
    justify-content: space-between;
    gap: 10px;
  }

  .catalog_picture {
    width: 668px;
  }

  .catalog_picture img {
    width: 100%;
  }

  .events .container {
    padding-bottom: 78px;
  }

  .artist__date {
    margin-bottom: 6px;
  }

  .events__list {
    flex-direction: column;
    gap: 30px;
  }

  .events__list .events__item:nth-child(2) .event__name {
    max-width: 401px;
  }

  .event__content {
    max-width: 100%;
  }

  .events__item--info {
    min-height: 328px;
    padding-bottom: 53px;
  }

  .event__name {
    margin-bottom: 14px;
  }

  .event__btn::before {
    bottom: -6px;
  }

  .projects-descr {
    margin-bottom: 28px;
    max-width: 657.5px;
  }

  .projects-info {
    margin-bottom: 29px;
  }

  .projects__images {
    gap: 17px;
  }

  .showroom .container {
    padding-bottom: 41px;
  }

  .showroom__left {
    margin-bottom: 28px;
  }

  .showroom__center {
    display: block;
    margin-bottom: 30px;
  }

  .showroom__center--label {
    margin-right: 8px;
  }

  .showroom__center--label .input {
    padding: 9px 71px;
  }

  .showroom__btn {
    margin-top: 14px;
    padding: 11px 29px;
  }

  .showroom__connect {
    margin-bottom: 9px;
  }
}
