@media (max-width: 768px) {
  .header-menu__list {
    justify-content: start;
    gap: 44px;
  }

  .hero .container {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .hero-subtitle {
    max-width: 555px;
  }

  .hero_picture {
    width: 200px;
  }

  .hero_picture img {
    width: 100%;
  }

  .gallery__puctures {
    justify-content: space-between;
    gap: 10px;
  }
}
