@media (max-width: 768px) {
  .header__menu__list {
    justify-content: start;
    gap: 44px;
  }

  .hero {
    background-image: url(../../img/hero_768.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }


  .hero {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .hero__subtitle {
    max-width: 555px;
  }


  .gallery {
    background-image: url(../../img/gallery_768.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-bottom: 81px;
  }


  .gallery__title {
    margin-bottom: 15px;
  }

  .gallery__checked {
    margin-bottom: 31px;
  }
  .gallery__puctures {
    justify-content: space-between;
    gap: 10px;
  }
  .gallery__picture {
    width: 200px;
  }

  .gallery__picture__img {
    display: block;
    width: 100%;
  }

/* TODO: why? */
  /* .catalog_picture {
    width: 668px;
  } */



  .events {
    padding-bottom: 78px;
  }

  .people__info__date {
    margin-bottom: 6px;
  }

  .events__list {
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .event:first-child .event__name {
    max-width: fit-content;
  }

  .event__content {
    max-width: 100%;
  }

  .event__info {
    min-height: 328px;
    padding-bottom: 53px;
  }

  .event__name {
    margin-bottom: 14px;
  }

  .event__btn::before {
    bottom: -6px;
  }

  .projects__descr {
    margin-bottom: 28px;
    max-width: 657.5px;
  }

  .projects__info {
    margin-bottom: 29px;
  }

  .projects__images {
    gap: 17px;
  }

  .showroom .container {
    padding-bottom: 41px;
  }

  .showroom__left {
    margin-bottom: 28px;
  }

  .showroom__center {
    display: block;
    margin-bottom: 30px;
  }

  .showroom__center__label {
    margin-right: 8px;
  }

  .showroom__center__label .showroom__center__input {
    padding: 9px 71px;
  }

  .showroom__btn {
    margin-top: 14px;
    padding: 11px 29px;
  }

  .showroom__connect {
    margin-bottom: 9px;
  }
}
